
#Node modules
node_modules

yarn-error.log
.eslintcache

# Environment variables
.env

# Credentials of database
ormconfig.json

# Folder of javascript NodeJS
dist/

# testing
/coverage

# Npm package
package-lock.json

docke-compose.yml
Dockerfile
wait-for-mysql.sh
.dockerignore
